{% extends "main.html" %}

{% block title %}{{ promotion.code }}{% endblock title %}

{% block content %}

<div class="container py-5">
    <div class="d-flex justify-content-between mb-5 pb-2 border-bottom">
        <h2>{{object.code}}</h2>
        <div>
            <a href="{% url 'staff-promotions' %}"><button type="button" class="btn btn-primary"><i class="bi bi-arrow-left"></i> Promotions</button></a>
            <a href="{% url 'staff-promotion-update' object.code %}"><button type="button" class="btn btn-primary"><i class="bi bi-pencil-fill"></i> Edit</button></a>
            <a href="{% url 'staff-promotion-delete' object.code %}" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash-fill"></i> Delete</button></a>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-3 col-6">
            <div class="card py-2 mb-4">
                <div class="card-body">
                    <p class="font-weight-bold text-primary text-uppercase mb-0">Sold</p>
                    <p class="text-uppercase text-secondary small mb-0">All time</p>
                    <p class="h3 mb-0 text-right">-1</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="card py-2 mb-4">
                <div class="card-body">
                    <p class="font-weight-bold text-primary text-uppercase mb-0">Sold</p>
                    <p class="text-uppercase text-secondary small mb-0">Today</p>
                    <p class="h3 mb-0 text-right">-1</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="card py-2 mb-4">
                <div class="card-body">
                    <p class="font-weight-bold text-success text-uppercase mb-0">In Basket</p>
                    <p class="text-uppercase text-secondary small mb-0">Not sold yet</p>
                    <p class="h3 mb-0 text-right">-1</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="card py-2 mb-4">
                <div class="card-body">
                    <p class="font-weight-bold text-warning text-uppercase mb-0">Views</p>
                    <p class="text-uppercase text-secondary small mb-0">Today</p>
                    <p class="h3 mb-0 text-right">-1</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-5 shadow">
        <div class="card-header bg-white">
            <h5 class="mb-0">Basic Information</h5>
        </div>
        <div class="card-body">
            <h6>{{ object.name }}</h6>
            <p>{{ object.description }}</p>
        </div>
    </div>

    <div class="card mb-5 shadow">
        <div class="card-header bg-white">
            <h5 class="mb-0">Pricing and Availability</h5>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col">
                    <p>£{{ object.price }}</p>
                </div>
                <div class="col">
                    <p>Min: {{ object.min }}</p>
                </div>
                <div class="col">
                    <p>Max: {{ object.max }}</p>
                </div>
            </div>
            <div class="mb-3">
                <p>{{ object.category }}</p>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <p>Available: {{ object.available }}</p>
                </div>
                <div class="col">
                    <p>Hidden: {{ object.hidden }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-5 shadow">
      <div class="card-header bg-white d-flex justify-content-between">
        <h5 class="mb-0 align-self-center">Main Image</h5>
        <fieldset class="form-group mb-0">
          <a onclick="$('#main_file').click()" class="btn btn-dark">CHANGE IMAGE</a>
          <input id="main_file" type="file" class="d-none" name="main_file"/>
        </fieldset>
      </div>
      <div class="card-body">
        <div class="col-lg-2 col-md-4 col-6">
          <img src="{{object.imageURL}}" id="preview" class="w-100">
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Promotion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeModal"></button>
      </div>
      <div class="modal-body">Are you sure you want to delete this promotion?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        <form action="#" method="post" id="confirmDelete">{% csrf_token %}
            <button class="btn btn-danger">Delete</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
document.getElementById('deleteModal').addEventListener('show.bs.modal', (e) => {
    document.getElementById('confirmDelete').action = e.relatedTarget.href
})
</script>
{% endblock scripts %}