{% extends "main.html" %}

{% block title %}{{ promotion.code }}{% endblock title %}

{% block content %}

<div class="container py-5">
    <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
        <h2>{{object.code}}</h2>
        <div>
            <a href="{% url 'staff-promotions' %}"><button type="button" class="btn btn-primary"><i class="bi bi-arrow-left"></i> Promotions</button></a>
            <a href="{% url 'staff-promotion-update' object.code %}"><button type="button" class="btn btn-primary"><i class="bi bi-pencil-fill"></i> Edit</button></a>
            <a href="{% url 'staff-promotion-delete' object.code %}" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash-fill"></i> Delete</button></a>
        </div>
    </div>
    <div class="d-flex justify-content-between mb-4">
        <h4>{{object.type}} promotion</h4>
        {% if promotion.active %}
        <h4 class="text-success fw-bold">Active</h4>
        {% else %}
        <h4 class="text-danger fw-bold">Inactive</h4>
        {% endif %}
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-3 col-6">
            <div class="card py-2 mb-4">
                <div class="card-body">
                    <p class="font-weight-bold text-success text-uppercase mb-0">Amount</p>
                    <p class="h3 mb-0 text-right">{% if promotion.type == 'Percentage' %}{{ promotion.amount }}%{% else %}£{{ promotion.amount }}{% endif %}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="card py-2 mb-4">
                <div class="card-body">
                    <p class="font-weight-bold text-primary text-uppercase mb-0">Used</p>
                    <p class="h3 mb-0 text-right">{{ promotion.used }}/{% if promotion.max_uses %}{{ promotion.max_uses }}{% else %}Unlimited{% endif %}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="card py-2 mb-4">
                <div class="card-body">
                    <p class="font-weight-bold text-warning text-uppercase mb-0">Min Spend</p>
                    <p class="h3 mb-0 text-right">{% if promotion.min_spend %}£{% endif %}{{ promotion.min_spend }}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="card py-2 mb-4">
                <div class="card-body">
                    <p class="font-weight-bold text-primary text-uppercase mb-0">Max Discount</p>
                    <p class="h3 mb-0 text-right">{% if promotion.max_discount %}£{% endif %}{{ promotion.max_discount }}</p>
                </div>
            </div>
        </div>
    </div>
    {% if promotion.expiry %}
    <h5>This promotion is active until {{ promotion.expiry }}</h5>
    {% else %}
    <h5>This promotion has no expiry date</h5>
    {% endif %}
    <br>
    <h5>So far customers have saved £{{ promotion.total_saved }} with this code<h5>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Promotion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeModal"></button>
      </div>
      <div class="modal-body">Are you sure you want to delete this promotion?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        <form action="#" method="post" id="confirmDelete">{% csrf_token %}
            <button class="btn btn-danger">Delete</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
document.getElementById('deleteModal').addEventListener('show.bs.modal', (e) => {
    document.getElementById('confirmDelete').action = e.relatedTarget.href
})
</script>
{% endblock scripts %}