{% extends "main.html" %}

{% block title %}Promotions{% endblock title %}

{% block content %}

<div class='container py-5'>
    <div class="d-flex justify-content-between pb-3">
        <h2>Promotions</h2>
        <div>
            <a href="{% url 'staff-promotions-new' %}" class="align-self-center"><button type="button" class="btn btn-primary">Create promotion</button></a>
            <a href="#" class="align-self-center"><button type="button" class="btn btn-primary">Disable all</button></a>
        </div>
    </div>

    <div class="list-group">
        {% for promotion in promotions %}
        <a href="{% url 'staff-promotion' promotion.code %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ promotion.code }}</h5>
                <small>{{ promotion.used }}/{{ promotion.max_uses }}</small>
            </div>
            <p class="mb-1">{{ promotion.type }}</p>
            {% if promotion.active %}
            <small>Active</small>
            {% else %}
            <small>Inactive</small>
            {% endif %}
        </a>
        {% endfor %}
    </div>
</div>

{% endblock content %}