{% extends "main.html" %}
{% load humanize %}
{% block title %}Orders{% endblock title %}

{% block content %}

<div class='container py-5'>
    <div class="d-flex justify-content-between pb-3">
        <h2>Orders</h2>
    </div>

    <div class="list-group">
        {% for order in orders %}
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <div>
                    <h5>Order #{{ order.id }} <span class="badge bg-info text-dark">{{ order.num_items }} items</span></h5>
                    <h6>Total: £{{ order.final_price }}</h6>
                    <p class="mb-0">For {{ order.ordershipping.address_name }}</p>
                </div>
                <div>
                    <h5 class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="{{order.date_ordered}}">{{order.date_ordered|naturaltime}}</h5>
                    {% if order.shipped %}
                    <p class="text-success fw-bold mb-0">Shipped</p>
                    {% else %}
                    <p class="text-danger fw-bold mb-0">Not Shipped</p>
                    {% endif %}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock content %}