{% extends "main.html" %}
{% load widget_tweaks %}
{% block title %}{{ product.name }}{% endblock title %}

{% block content %}

<div class="container py-5">
    <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
        <h2>{{object.name}}</h2>
        <div>
            <a href="{% url 'staff-products' %}"><button type="button" class="btn btn-primary"><i class="bi bi-arrow-left"></i> Products</button></a>
            <a href="{% url 'staff-product-update' object.name %}"><button type="button" class="btn btn-primary"><i class="bi bi-pencil-fill"></i> Edit</button></a>
            <a href="{% url 'staff-product-delete' object.name %}" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash-fill"></i> Delete</button></a>
        </div>
    </div>

    <div class="d-flex justify-content-between mb-4">
        <h4>Category: {{ product.category }}</h4>
        {% if product.hidden and not product.available %}
        <h4 class="text-danger fw-bold">Hidden</h4>
        {% elif not product.available %}
        <h4 class="text-danger fw-bold">Unavailable</h4>
        {% else %}
        <h4 class="text-success fw-bold">Available</h4>
        {% endif %}
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-3 col-6">
            <div class="card py-2 mb-4">
                <div class="card-body">
                    <p class="font-weight-bold text-primary text-uppercase mb-0">Sold</p>
                    <p class="text-uppercase text-secondary small mb-0">All time</p>
                    <p class="h3 mb-0 text-right">{{ product.num_sold }}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="card py-2 mb-4">
                <div class="card-body">
                    <p class="font-weight-bold text-primary text-uppercase mb-0">Sold</p>
                    <p class="text-uppercase text-secondary small mb-0">Today</p>
                    <p class="h3 mb-0 text-right">{{ product.num_sold_today }}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="card py-2 mb-4">
                <div class="card-body">
                    <p class="font-weight-bold text-success text-uppercase mb-0">In Basket</p>
                    <p class="text-uppercase text-secondary small mb-0">Not sold yet</p>
                    <p class="h3 mb-0 text-right">{{ product.num_in_basket }}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6">
            <div class="card py-2 mb-4">
                <div class="card-body">
                    <p class="font-weight-bold text-warning text-uppercase mb-0">Sales</p>
                    <p class="text-uppercase text-secondary small mb-0">All time</p>
                    <p class="h3 mb-0 text-right">£{{ product.total_sales }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5>Product Description</h5>
            <p>{{ object.description }}</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5>Pricing and Availability</h5>
            <p>Price: £{{ product.price }}</p>
            <p>Category: £{{ product.price }}</p>
            <p>Availability: {% if product.available %}Available{% else %}Unavailable{% endif %}</p>
            <p>{% if product.hidden %}Hidden{% else %}Not hidden{% endif %}</p>
            <p>Minimum Order: {{ product.min }}</p>
            <p>Maximum Order: {{ product.max }}</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h5>Images</h5>
                <form method='post' enctype="multipart/form-data">{% csrf_token %}
                    <div class="visually-hidden">
                        {{ image_form.product }}
                        {% render_field image_form.image onchange="form.submit()"%}
                    </div>
                </form>
                <a onclick="document.getElementById('{{ image_form.image.id_for_label }}').click()" class="btn btn-primary"><i class="bi bi-plus-lg"></i> Add image</a>
            </div>
            <div class="d-flex flex-row flex-wrap">
                <div class="d-flex flex-column col-md-3 col-6 p-1">
                    <img src="{{ product.image.url }}" class="img-fluid"/>
                    <a href="{% url 'staff-product-update' object.name %}"><button type="button" class="btn btn-primary w-100 mt-1"><i class="bi bi-pencil-fill"></i> Edit</button></a>
                </div>
                {% for image in product.productimage_set.all %}
                <div class="d-flex flex-column col-md-3 col-6 p-1">
                    <img src="{{ image.image.url }}" class="img-fluid"/>
                    <a href="{% url 'staff-product-delete-image' image.id %}"><button type="button" class="btn btn-danger w-100 mt-1"><i class="bi bi-trash-fill"></i> Delete</button></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeModal"></button>
      </div>
      <div class="modal-body">Are you sure you want to delete this product?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        <form action="#" method="post" id="confirmDelete">{% csrf_token %}
            <button class="btn btn-danger">Delete</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
document.getElementById('deleteModal').addEventListener('show.bs.modal', (e) => {
    document.getElementById('confirmDelete').action = e.relatedTarget.href
})
</script>
{% endblock scripts %}