{% extends "main.html" %}

{% block title %}Products{% endblock title %}

{% block content %}

<div class='container py-5'>
    <div class="d-flex justify-content-between pb-3">
        <h2>Products</h2>
        <a href="{% url 'staff-products-new' %}" class="align-self-center"><button type="button" class="btn btn-primary">Create product</button></a>
    </div>

    <div class="list-group">
        {% for product in products %}
        <a href="{% url 'staff-product' product.name %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ product.name }}</h5>
                {% if product.hidden %}
                <small>Hidden</small>
                {% elif not product.available %}
                <small>Unavailable</small>
                {% else %}
                <small>Available</small>
                {% endif %}
            </div>
            <p class="mb-1">Category: {{ product.category }}</p>
            <small>£{{ product.price }}</small>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock content %}