{% extends "main.html" %}

{% block title %}{{ collection.name }}{% endblock title %}

{% block content %}

<div class="container py-5">
    <div class="d-flex justify-content-between mb-5 pb-2 border-bottom">
        <h2>{{object.name}}</h2>
        <div>
            <a href="{% url 'staff-collections' %}"><button type="button" class="btn btn-primary"><i class="bi bi-arrow-left"></i> Collections</button></a>
            <a href="{% url 'staff-collection-update' object.name %}"><button type="button" class="btn btn-primary"><i class="bi bi-pencil-fill"></i> Edit</button></a>
            <a href="{% url 'staff-collection-delete' object.name %}"class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash-fill"></i> Delete</button></a>
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-header bg-white">
            <div class="d-flex justify-content-between">
            <h5 class="mb-0 align-self-center">Products <span class="badge bg-info text-dark">{{ collection.products.count }} items</span></h5>
            <a href="{% url 'staff-collection-products' object.name %}"><button type="button" class="btn btn-primary"><i class="bi bi-pencil-fill"></i> Edit Products</button></a>
            </div>
        </div>
        <div class="card-body px-0">
            <div class="list-group list-group-flush">
              {% for product in collection.products.all %}
              <a href="{% url 'staff-product' product.name %}" class="list-group-item list-group-item-action">
                  <div class="d-flex justify-content-between">
                      <h5 class="mb-1">{{ product.name }}</h5>
                      {% if product.hidden %}
                      <small class="text-danger fw-bold">Hidden</small>
                      {% elif not product.available %}
                      <small class="text-danger fw-bold">Unavailable</small>
                      {% else %}
                      <small class="text-success fw-bold">Available</small>
                      {% endif %}
                  </div>
                  <p class="mb-1">Category: {{ product.category }}</p>
                  <p class="mb-0">£{{ product.price }}</p>
              </a>
              {% endfor %}
          </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Collection</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeModal"></button>
      </div>
      <div class="modal-body">Are you sure you want to delete this collection?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        <form action="#" method="post" id="confirmDelete">{% csrf_token %}
            <button class="btn btn-danger">Delete</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
document.getElementById('deleteModal').addEventListener('show.bs.modal', (e) => {
    document.getElementById('confirmDelete').action = e.relatedTarget.href
})
</script>
{% endblock scripts %}