{% extends "storefront/main.html" %}
{% load widget_tweaks %}
{% block title %}Checkout{% endblock title %}

{% block content %}
{% if unavailable %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  The following items are no longer available and have been removed from your basket:
  {% for item in unavailable %} {{item}} {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<div class="container py-5" style="min-height:70vh">
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="d-flex flex-sm-row flex-column justify-content-between pb-1 mb-5 border-bottom">
        <h1>Summary <span class="badge badge-secondary badge-pill small">{{ basket.num_items }}</span></h1>
        <div class="align-self-sm-center">
          <a href="{% url 'shipping' %}" class="btn btn-outline-secondary"><i class="bi bi-chevron-left"></i> Back to shipping</a>
        </div>
      </div>
      <ul class="list-group mb-3">
        {% for bp in basket.basketproduct_set.all %}
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">{{ bp.product.name }}</h6>
              <small class="text-muted">Quantity: {{ bp.quantity }}</small>
            </div>
            <span class="text-muted align-self-center">£{{ bp.total_cost }}</span>
          </li>
        {% endfor %}
        {% for bc in basket.basketcollection_set.all %}
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">{{ bc.collection.name }}</h6>
              <small class="text-muted">Quantity: {{ bc.quantity }}</small>
            </div>
            <span class="text-muted align-self-center">£{{ bc.total_cost }}</span>
          </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6 class="my-0">{{ basket.delivery.name }}</h6>
            <span class="text-muted align-self-center">£{{ basket.delivery.price }}</span>
          </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Delivery Address</h6>
            <small class="text-muted">{{basket.address.email}}</small><br>
            <small class="text-muted">{{basket.address.name}}</small><br>
            <small class="text-muted">{{basket.address.line_1}}</small><br>
            {% if basket.address.line_2 %}
            <small class="text-muted">{{basket.address.line_2}}</small><br>
            {% endif %}
            <small class="text-muted">{{basket.address.city}}</small><br>
            {% if basket.address.county %}
            <small class="text-muted">{{basket.address.county}}</small><br>
            {% endif %}
            <small class="text-muted">{{basket.address.postcode}}</small>
          </div>
        </li>
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <span><strong>Total</strong></span>
            <strong>£{{basket.total_cost}}</strong>
          </div>
          <div class="mt-2">
            <form method="post" class="d-flex justify-content-end">{% csrf_token %}
              <div class="col-auto">
                {% render_field promo_form.code class="form-control form-control-sm" placeholder="Promotion Code"%}
              </div>
              <div class="col-auto ms-1">
                <button type="submit" class="btn btn-outline-dark btn-sm" value="Apply">Apply</button>
              </div>
            </form>
          </div>
          {% if error %}
          <small class="text-danger float-end">Unable to apply code</small>
          {% endif %}
          {% if basket.promotion %}
          <div class="d-flex justify-content-between mt-2">
            <span>Promotion Applied!</span>
            <span>-£{{basket.promotion_amount | floatformat:2}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <span><strong>Final Price</strong></span>
            <strong>£{{basket.final_price}}</strong>
          </div>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>

  {% if debug %}<form action="{% url 'place-order' %}" method="post">{% csrf_token %}
    <div class="d-grid col-md-6 mx-auto">
      <button class="btn btn-primary" type="submit">Place Order</button>
    </div>
  </form>{% endif %}
</div>
{% endblock content %}