{% extends "storefront/main.html" %}
{% block title %}Basket{% endblock %}

{% block content %}
{% if unavailable %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  The following items are no longer available and have been removed from your basket:
  {% for item in unavailable %} {{item}} {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<div class="container" style="min-height:70vh">
  <section class="mt-5 mb-4">
    <div class="row">
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="mb-4">Basket</h5>
            {% if basket.is_empty %}
            <h6 class="text-danger"><strong>Your basket is empty</strong></h6>
            {% endif %}
            {% for basket_product in basket.basketproduct_set.all %}
            <div class="row">
              <div class="col-4 col-lg-3">
                <a href="{% url 'product' basket_product.product.name %}">
                  <img class="img-fluid w-100 rounded" src="{{ basket_product.product.image.url }}">
                </a>
              </div>
              <div class="col-8 col-lg-9">
                <div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <a href="{% url 'product' basket_product.product.name %}" style="color:black"><h5>{{ basket_product.product.name }}</h5></a>
                      <p class="mb-3 text-muted text-uppercase small">{{ basket_product.product.category }}</p>
                    </div>
                    <div>
                      <input onchange="updateBasket('{{basket_product.product.name}}', this)" type="number"
                      value={{basket_product.quantity}} min={{basket_product.product.min}} max={{basket_product.product.max}}
                      class="border-0 no-outline text-right" id="change{{ basket_product.product.name}}">
                      <i class="bi bi-pencil-fill small"
                      onclick="document.getElementById('change{{ basket_product.product.name }}').focus()"></i>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <form action="{% url 'basket-update-product' %}" method="post">{% csrf_token %}
                      {{ basket_product.product.get_remove_form.as_p }}
                      <button type="submit" class="btn btn-outline-secondary btn-sm">
                        <i class="bi bi-trash-fill mr-1"></i> Remove item
                      </button>
                    </form>
                    <p class="mb-0"><strong id="total{{basket_product.product.name}}">£{{basket_product.total_cost}}</strong></p>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4">
            {% endfor %}
            {% for basket_collection in basket.basketcollection_set.all %}
            <div class="row">
              <div class="col-4 col-lg-3">
                <a href="{% url 'collection' basket_collection.collection.name %}">
                  <img class="img-fluid w-100 rounded" src="https://via.placeholder.com/150">
                </a>
              </div>
              <div class="col-8 col-lg-9">
                <div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <a href="{% url 'collection' basket_collection.collection.name %}" style="color:black"><h5>{{ basket_collection.collection.name }}</h5></a>
                      <p class="mb-3 text-muted text-uppercase small">Collection</p>
                    </div>
                    <div>
                      <input onchange="updateBasketCollection('{{basket_collection.collection.name}}', this)" 
                      type="number" value={{basket_collection.quantity}} 
                      {% comment %} min={{basket_collection.collection.min}} max={{basket_collection.collection.max}} {% endcomment %}
                      class="border-0 no-outline text-right" id="change{{ basket_collection.collection.name}}">
                      <i class="bi bi-pencil-fill small"
                      onclick="document.getElementById('change{{ basket_collection.collection.name }}').focus()"></i>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <form action="{% url 'basket-update-collection' %}" method="post">{% csrf_token %}
                      {{ basket_collection.collection.get_remove_form.as_p }}
                      <button type="submit" class="btn btn-outline-secondary btn-sm">
                        <i class="bi bi-trash-fill mr-1"></i> Remove item
                      </button>
                    </form>
                    <p class="mb-0"><strong id="total{{basket_collection.collection.name}}">£{{basket_collection.total_cost}}</strong></p>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4">
            {% endfor %}
            {% if not basket.is_empty %}
            <p class="text-danger mb-0"><i class="bi bi-info-circle-fill mr-1"></i> Do not delay the purchase,
              items in your basket may become unavailable.</p>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="mb-3">Summary</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Cost
                <span id="cost">£{{basket.item_cost}}</span>
              </li>
              {% comment %} <li class="list-group-item d-flex justify-content-between align-items-center px-0 border-0">
                <select onchange="updateDelivery(this)" class="custom-select mr-5" name="delivery">
                  <option selected id="delivery{{order.delivery.id}}" value={{order.delivery.price}}>{{order.delivery.name}}</option>
                  {% for type in delivery %}
                    {% if type != order.delivery %}
                      <option id="delivery{{type.id}}" value={{type.price}}>{{type.name}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <span id="deliveryPrice">£{{order.delivery.price}}</span>
              </li> {% endcomment %}
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <strong>Total</strong>
                <span><strong id="total">£{{basket.total_cost}}</strong></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                <form action="{% url 'basket' %}" method="post">{% csrf_token %}
                  {{ promo_form.as_p }}
                  <button type="submit" class="btn btn-sm btn-primary w-100">
                    <i class="bi bi-basket"></i> Apply Discount
                  </button>
                </form>
              </li>
              <br>
            </ul>
            {% if not basket.is_empty %}
            <a href="#" style="color:black" class="text-decoration-none">
              <div class="d-grid">
                <button type="button" name="checkout" class="btn btn-primary">Continue to shipping</button>
              </div>
            </a>
            {% endif %}
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
  function updateBasket(product, input) {
    var productTotalText = document.getElementById('total'+product);
    var costText = document.getElementById('cost');
    var totalText = document.getElementById('total');

    var amount = parseInt(input.value)
    if (amount > parseInt(input.max)) {
      input.value = input.max;
      alert("Maximum amount for this item is " + input.max + " per order")
    }
    if (amount < parseInt(input.min) && amount > 0) {
      input.value = input.max;
      alert("Minimum amount for this item is " + input.min + " per order")
    }

    var url = "{% url 'basket-update-product' %}";

    fetch(url, {
      method:'POST',
      headers:{
        'Content-Type':'application/json',
        'X-CSRFToken':'{{ csrf_token }}',
      },
      body:JSON.stringify({'product_name':product, 'quantity':input.value})
    })
    .then(response => response.json())
    .then(data => {
      productTotalText.innerHTML = "£" + data.productTotal;
      costText.innerHTML = "£" + data.cost;
      totalText.innerHTML = "£" + data.total;
    });

    if (input.value == 0) {
      location.replace("{% url 'basket' %}")
    }
  }
  function updateBasketCollection(collection, input) {
    var collectionTotalText = document.getElementById('total'+collection);
    var costText = document.getElementById('cost');
    var totalText = document.getElementById('total');

    {% comment %} var amount = parseInt(input.value)
    if (amount > parseInt(input.max)) {
      input.value = input.max;
      alert("Maximum amount for this item is " + input.max + " per order")
    }
    if (amount < parseInt(input.min) && amount > 0) {
      input.value = input.max;
      alert("Minimum amount for this item is " + input.min + " per order")
    } {% endcomment %}

    var url = "{% url 'basket-update-collection' %}";

    fetch(url, {
      method:'POST',
      headers:{
        'Content-Type':'application/json',
        'X-CSRFToken':'{{ csrf_token }}',
      },
      body:JSON.stringify({'collection_name':collection, 'quantity':input.value})
    })
    .then(response => response.json())
    .then(data => {
      collectionTotalText.innerHTML = "£" + data.productTotal;
      costText.innerHTML = "£" + data.cost;
      totalText.innerHTML = "£" + data.total;
    });

    if (input.value == 0) {
      location.replace("{% url 'basket' %}")
    }
  }
{% comment %} 
  function updateDelivery(delivery) {
    var priceText = document.getElementById("deliveryPrice");
    var totalText = document.getElementById('total');

    deliveryID = delivery[delivery.selectedIndex].id.slice(8);

    var url = "{% url 'cakes-update-delivery' %}";

    fetch(url, {
      method:'POST',
      headers:{
        'Content-Type':'application/json',
        'X-CSRFToken':getCookie('csrftoken'),
      },
      body:JSON.stringify({'deliveryID':deliveryID})
    })
    .then(response => response.json())
    .then(data => {
      totalText.innerHTML = "£" + data.total;
      priceText.innerHTML = "£" + data.delivery;
    });
  }{% endcomment %}
</script> 
{% endblock scripts %}
