{% extends "storefront/main.html" %}

{% block title %}{{ collection.name }}{% endblock title %}

{% block content %}
<div class="container">
  <div class="d-flex flex-sm-row flex-column justify-content-between pb-1 my-5 border-bottom align-items-center">
    <h1>{{ collection.name }}</h1>
    {% if collection.available %}
    <form action="{% url 'basket-add-collection' %}" method="post">{% csrf_token %}
      {{ collection.get_add_to_basket_form.as_p }}
      <button type="submit" class="btn btn-sm btn-primary w-100" onclick="confirmAdd(this)">
        <i class="bi bi-basket"></i> Add to basket
      </button>
    </form>
    {% else %}
    <button class="btn btn-primary" disabled>
        <i class="bi bi-basket"></i>
        Unavailable
    </button>
    {% endif %}
  </div>
  <div class="d-flex flex-wrap">
    {% for product in collection.products.all %}
    <div class="col-lg-4 col-6">
      {% include "storefront/product_card.html" with product=product %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}